NEXT_PUBLIC_SUPABASE_URL=https://ltferucslrevyvfywime.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0ZmVydWNzbHJldnl2Znl3aW1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MDA0NDQsImV4cCI6MjA4ODE3NjQ0NH0.PtGak7Ff2-feQKBHpvpQAylEhL1P58USOKDmqeRMkjc

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0ZmVydWNzbHJldnl2Znl3aW1lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjYwMDQ0NCwiZXhwIjoyMDg4MTc2NDQ0fQ.qSlWhfXa6V_tCle2hHGIdgEfZaYn74AzGo6uiq5vr8Q
ADMIN_EMAILS=taha.bitim@paxturkiye.com